<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" integrity="sha384-PmY9l28YgO4JwMKbTvgaS7XNZJ30MK9FAZjjzXtlqyZCqBY6X6bXIkM++IkyinN+" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap-theme.min.css" integrity="sha384-jzngWsPS6op3fgRCDTESqrEJwRKck+CILhJVO5VvaAZCq8JYf8HsR/HPpBOOPZfR" crossorigin="anonymous">

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js" integrity="sha384-vhJnz1OVIdLktyixHY4Uk3OHEwdQqPppqYR8+5mjsauETgLOcEynD9oPHhhz18Nw" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

</head>
<body>

  <!-- navbar begin -->
  <div class="navbar navbar-inverse navbar-fixed-top">

    <div class="container-fluid">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">EventApp</a>
      </div>
    </div>

  </div>
  <!-- navbar end -->
<br>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default" style="margin-top:45px">
                    <div class="panel-heading">
                        <h3 class="panel-title">Login with Email and Password</h3>
                    </div>
                </div>
                <div class="panel-body">
                    <div th:if="${param.logout}">
                        <div class="alert alert-info" role="alert">You've been logged out successfully.</div>
                    </div>

                    <div th:if="${param.error}">
                        <div class="alert alert-danger" role="alert">Invalid Email or Password.</div>
                    </div>

                    <div th:if="${param.registration}">
                        <div class="alert alert-info" role="alert">You've registration successfully.</div>
                    </div>


                    <form method="post" th:action="@{/login}">
                    <div class="form-group">
                        <label for="username">Email address</label>
                        <input type="email" class="form-control" id="username" placeholder="Email" name="username">
                    </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                </div>
                    <button type="submit" class="btn btn-default">Log in</button>

                </form>

                    <br>
                    <br>
                    <form th:action="@{/registration}" method="get">
                        <input type="submit" class="btn btn-default" value="Registration"/>
                    </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>
